<!DOCTYPE html>
<html lang="en">

<%- include('header') %>

    <body class="non-touch">
        <%- include('navegacion') %>

            <div id="background-image"
                style="background: url(https://img.yts.mx/assets/images/movies//background.jpg) no-repeat center center; background-size: cover; -webkit-background-size: cover;-moz-background-size: cover; -o-background-size: cover;">
            </div>
            <div id="background-overlay"></div>
            <div class="modal modal-auth hidden-xs hidden-sm">
                <div class="modal-container">
                    <div class="modal-switcher">
                        <span id="modal-login"> Login </span>
                        <span id="modal-register"> Register </span>
                    </div>
                    <div class="modal-content">
                        <div class="modal-login-content">
                            <form method="POST" action="/" accept-charset="UTF-8" autocorrect="off" autocapitalize="off"
                                spellcheck="off">
                                <input name="_token" type="hidden"
                                    value="6ff78383f4a7363a3e681909ff8437ee543d67037c8d0cfe979eb397096c6690">
                                <span class="error-msg"></span>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input placeholder="Username or Email" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" name="username" type="text">
                                </div>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    <input placeholder="Password" autocorrect="off" autocapitalize="off"
                                        spellcheck="off" name="password" type="password" value="">
                                </div>
                                <button class="button-green-download2-big" type="button">Login</button>
                            </form>
                            <p class="bottom-msg">
                                <a class="forgotpassword-nav-btn" href="javascript:void(0)">Forgot your password?</a>
                            </p>
                        </div>
                        <div class="modal-register-content">
                            <form method="POST" action="/" accept-charset="UTF-8" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="off">
                                <input name="_token" type="hidden"
                                    value="6ff78383f4a7363a3e681909ff8437ee543d67037c8d0cfe979eb397096c6690">
                                <span class="error-msg"></span>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-user"></span>
                                    <input placeholder="Username" autocomplete="off" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" name="username" type="text">
                                </div>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <input placeholder="E-Mail (no confirmation needed)" autocomplete="off"
                                        autocorrect="off" autocapitalize="off" spellcheck="off" name="email"
                                        type="email">
                                </div>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    <input placeholder="Password" autocomplete="off" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" name="password" type="password" value="">
                                </div>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-lock"></span>
                                    <input placeholder="Confirm Password" autocomplete="off" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" name="password_confirmation"
                                        type="password" value="">
                                </div>
                                <span class="error-msg"><span style="color: #666666">By clicking Register, you agree to
                                        our</span> <a href="/terms" target="_blank">Terms and Conditions</a></span>
                                <button class="button-green-download2-big" type="button">Register</button>
                            </form>
                        </div>
                        <div class="modal-forgotpass-content">
                            <form method="POST" action="/" accept-charset="UTF-8" autocomplete="off" autocorrect="off"
                                autocapitalize="off" spellcheck="off">
                                <input name="_token" type="hidden"
                                    value="6ff78383f4a7363a3e681909ff8437ee543d67037c8d0cfe979eb397096c6690">
                                <span class="error-msg"></span>
                                <p class="info-msg"> If you have Forgotten your password, just type in your E-mail
                                    Address and
                                    YTS will send you a link to Reset Your Password. </p>
                                <div class="inner-addon">
                                    <span class="glyphicon glyphicon-envelope"></span>
                                    <input placeholder="E-Mail" autocomplete="off" autocorrect="off"
                                        autocapitalize="off" spellcheck="off" name="email" type="email">
                                </div>
                                <button class="button-green-download2-big" type="button">Reset Password</button>
                            </form>
                            <p class="bottom-msg">
                                <a class="login-nav-btn" href="javascript:void(0)">Back to login</a>
                            </p>
                        </div>
                        <div class="modal-activate-account-content">
                            <p class="info-msg">
                                <b>Thanks for signing up to YTS.MX (Retro Torrents Home)!</b><br>Your YTS account is
                                active now
                                and you can login to download Retro torrents.
                            </p>
                        </div>
                        <div class="modal-loading-content">
                            <img src=imgs/ajax-spinner.gif alt="ajax spinner loading" />
                            <p class="info-msg"> Loading, please wait </p>
                        </div>
                    </div>
                </div>
            </div>
            <div class="main-content">
                <div id="mobile-search-input" class="hidden-md hidden-lg">
                    <form method="POST" action="/browse-movies" accept-charset="UTF-8">
                        <div class="input-group container search-query">
                            <input class="form-control" placeholder="Search for a movie&hellip;" autocorrect="off"
                                autocomplete="off" value="<%= TitleSearch %>" name="query" type="search">
                            <span class="input-group-btn"> <button class="btn btn-success" type="submit">Search</button>
                            </span>
                        </div>
                        <div class="container">
                            <div class="row">
                                <div class="col-xs-10">
                                    <div class="selects-container">
                                        <p>Quality:</p>
                                        <select name="quality">
                                            <option value="all">All2</option>
                                            <option value="720p">720p</option>
                                            <option value="1080p">1080p</option>
                                            <option value="2160p">2160p</option>
                                            <option value="3D">3D</option>
                                        </select>
                                    </div>
                                    <div class="selects-container">
                                        <p>Genre:</p>
                                        <select name="genre">
                                            <option value="all">Todos</option>
                                            <option value="Acción">Acción</option>
                                            <option value="Aventura">Aventura</option>
                                            <option value="Animación">Animación</option>
                                            <option value="Biografía">Biografía</option>
                                            <option value="Comedia">Comedia</option>
                                            <option value="Crimen">Crimen</option>
                                            <option value="Documental">Documental</option>
                                            <option value="Drama">Drama</option>
                                            <option value="Familiar">Familiar</option>
                                            <option value="Fantasía">Fantasía</option>
                                            <option value="Cine negro">Cine negro</option>
                                            <option value="Concurso">Concurso</option>
                                            <option value="Historia">Historia</option>
                                            <option value="Terror">Terror</option>
                                            <option value="Música">Música</option>
                                            <option value="Musical">Musical</option>
                                            <option value="Misterio">Misterio</option>
                                            <option value="Noticias">Noticias</option>
                                            <option value="Reality">Reality</option>
                                            <option value="Romance">Romance</option>
                                            <option value="Ciencia ficción">Ciencia ficción</option>
                                            <option value="Deporte">Deporte</option>
                                            <option value="Tertulia">Tertulia</option>
                                            <option value="Suspense">Suspense</option>
                                            <option value="Bélico">Bélico</option>
                                            <option value="Del oeste">Del oeste</option>
                                        </select>
                                    </div>
                                    <div class="selects-container">
                                        <p>Year:</p>
                                        <select name="year">
                                            <option value="0">All</option>
                                            <option value="2023">2023</option>
                                            <option value="2022">2022</option>
                                            <option value="2021">2021</option>
                                            <option value="2020">2020</option>
                                            <option value="2019">2019</option>
                                            <option value="2015-2018">2015-2018</option>
                                            <option value="2010-2014">2010-2014</option>
                                            <option value="2000-2009">2000-2009</option>
                                            <option value="1990-1999">1990-1999</option>
                                            <option value="1980-1989">1980-1989</option>
                                            <option value="1970-1979">1970-1979</option>
                                            <option value="1900-1969">1900-1969</option>
                                        </select>
                                    </div>
                                </div>
                                <div class="col-xs-10">
                                    <div class="selects-container">
                                        <p>Rating:</p>
                                        <select name="rating">
                                            <option value="0">All</option>
                                            <option value="9">9+</option>
                                            <option value="8">8+</option>
                                            <option value="7">7+</option>
                                            <option value="6">6+</option>
                                            <option value="5">5+</option>
                                            <option value="4">4+</option>
                                            <option value="3">3+</option>
                                            <option value="2">2+</option>
                                            <option value="1">1+</option>
                                        </select>
                                    </div>
                                    <div class="selects-container">
                                        <p>Language:</p>
                                        <select name="language">
                                            <option value="en">English</option>
                                            <option value="foreign">Foreign</option>
                                            <option value="all" selected="selected">--------All--------</option>
                                            <option value="fr">French (2551)</option>
                                            <option value="ja">Japanese (2314)</option>
                                            <option value="es">Spanish (1368)</option>
                                            <option value="it">Italian (1214)</option>
                                            <option value="de">German (983)</option>
                                            <option value="zh">Chinese (877)</option>
                                            <option value="ko">Korean (800)</option>
                                            <option value="cn">Cantonese (710)</option>
                                            <option value="hi">Hindi (541)</option>
                                            <option value="sv">Swedish (334)</option>
                                            <option value="pt">Portuguese (331)</option>
                                            <option value="ru">Russian (328)</option>
                                            <option value="pl">Polish (274)</option>
                                            <option value="th">Thai (210)</option>
                                            <option value="da">Danish (184)</option>
                                            <option value="nl">Dutch (177)</option>
                                            <option value="tr">Turkish (177)</option>
                                            <option value="no">Norwegian (126)</option>
                                            <option value="ar">Arabic (125)</option>
                                            <option value="vi">Vietnamese (118)</option>
                                            <option value="id">Indonesian (115)</option>
                                            <option value="fi">Finnish (103)</option>
                                            <option value="ta">Tamil (103)</option>
                                            <option value="hu">Hungarian (100)</option>
                                            <option value="te">Telugu (82)</option>
                                            <option value="cs">Czech (79)</option>
                                            <option value="fa">Persian (73)</option>
                                            <option value="ro">Romanian (51)</option>
                                            <option value="uk">Ukrainian (51)</option>
                                            <option value="tl">Tagalog (49)</option>
                                            <option value="et">Estonian (46)</option>
                                            <option value="el">Greek (43)</option>
                                            <option value="he">Hebrew (38)</option>
                                            <option value="ca">Catalan (23)</option>
                                            <option value="ms">Malay (21)</option>
                                            <option value="ur">Urdu (20)</option>
                                            <option value="bn">Bangla (19)</option>
                                            <option value="ml">Malayalam (18)</option>
                                            <option value="is">Icelandic (15)</option>
                                            <option value="sk">Slovak (13)</option>
                                            <option value="sr">Serbian (11)</option>
                                            <option value="kn">Kannada (10)</option>
                                            <option value="pa">Punjabi (10)</option>
                                            <option value="lv">Latvian (9)</option>
                                            <option value="xx">xx (8)</option>
                                            <option value="mr">Marathi (7)</option>
                                            <option value="eu">Basque (6)</option>
                                            <option value="ka">Georgian (6)</option>
                                            <option value="gl">Galician (6)</option>
                                            <option value="bo">Tibetan (6)</option>
                                            <option value="wo">Wolof (6)</option>
                                            <option value="hr">Croatian (6)</option>
                                            <option value="lt">Lithuanian (6)</option>
                                            <option value="af">Afrikaans (5)</option>
                                            <option value="ga">Irish (5)</option>
                                            <option value="am">Amharic (5)</option>
                                            <option value="yue">Cantonese (5)</option>
                                            <option value="mk">Macedonian (4)</option>
                                            <option value="sh">Serbo-Croatian (4)</option>
                                            <option value="ku">Kurdish (4)</option>
                                            <option value="sl">Slovenian (4)</option>
                                            <option value="sq">Albanian (4)</option>
                                            <option value="bs">Bosnian (3)</option>
                                            <option value="km">Khmer (3)</option>
                                            <option value="la">Latin (3)</option>
                                            <option value="sw">Swahili (3)</option>
                                            <option value="ps">Pashto (3)</option>
                                            <option value="st">Southern Sotho (3)</option>
                                            <option value="hy">Armenian (3)</option>
                                            <option value="yo">Yoruba (3)</option>
                                            <option value="cmn">cmn (3)</option>
                                            <option value="mn">Mongolian (2)</option>
                                            <option value="nb">Norwegian Bokmål (2)</option>
                                            <option value="yi">Yiddish (2)</option>
                                            <option value="mi">Maori (2)</option>
                                            <option value="ak">Akan (2)</option>
                                            <option value="ht">Haitian Creole (2)</option>
                                            <option value="zu">Zulu (2)</option>
                                            <option value="mt">Maltese (2)</option>
                                            <option value="kk">Kazakh (2)</option>
                                            <option value="zxx">No linguistic content (2)</option>
                                            <option value="gu">Gujarati (2)</option>
                                            <option value="my">Burmese (2)</option>
                                            <option value="bg">Bulgarian (2)</option>
                                            <option value="ab">Abkhazian (1)</option>
                                            <option value="os">Ossetic (1)</option>
                                            <option value="aa">Afar (1)</option>
                                            <option value="lb">Luxembourgish (1)</option>
                                            <option value="ky">Kyrgyz (1)</option>
                                            <option value="az">Azerbaijani (1)</option>
                                            <option value="so">Somali (1)</option>
                                            <option value="iu">Inuktitut (1)</option>
                                            <option value="lg">Ganda (1)</option>
                                            <option value="be">Belarusian (1)</option>
                                            <option value="ig">Igbo (1)</option>
                                            <option value="cy">Welsh (1)</option>
                                            <option value="fil">Filipino (1)</option>
                                            <option value="xh">Xhosa (1)</option>
                                            <option value="tw">Twi (1)</option>
                                            <option value="rw">Kinyarwanda (1)</option>
                                            <option value="or">Odia (1)</option>
                                            <option value="ase">American Sign Language (1)</option>
                                            <option value="nan">Min Nan Chinese (1)</option>
                                            <option value="ber">ber (1)</option>
                                            <option value="qag">qag (1)</option>
                                            <option value="gsw">Swiss German (1)</option>
                                            <option value="ne">Nepali (1)</option>
                                            <option value="ln">Lingala (1)</option>
                                            <option value="iba">Iban (1)</option>
                                            <option value="cr">Cree (1)</option>
                                            <option value="jv">Javanese (1)</option>
                                            <option value="tn">Tswana (1)</option>
                                            <option value="qab">qab (1)</option>
                                            <option value="lo">Lao (1)</option>
                                            <option value="bm">Bambara (1)</option>
                                            <option value="rom">Romany (1)</option>
                                        </select>
                                    </div>
                                    <div class="selects-container selects-container-last">
                                        <p>Order By:</p>
                                        <select name="order_by">
                                            <option value="latest">Latest</option>
                                            <option value="oldest">Oldest</option>
                                            <option value="featured">Featured</option>
                                            <option value="seeds">Seeds</option>
                                            <option value="peers">Peers</option>
                                            <option value="year">Year</option>
                                            <option value="rating">IMDb Rating</option>
                                            <option value="likes">YTS Likes</option>
                                            <option value="rt_audience">RT Audience</option>
                                            <option value="alphabetical">Alphabetical</option>
                                            <option value="downloads">Downloads</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </form>
                </div>
                <div class="ac-results hidden-sm hidden-xs">
                    <ul></ul>
                </div>
                <noscript>
                    <div class="container">
                        <div class="row">
                            <div class="col-xs-20 text-center">
                                <p class="no-javascript-warning">Javascript not supported on your browser, please enable
                                    Javascript in order to fully utilize the website</p>
                            </div>
                        </div>
                    </div>
                </noscript>
                <div id="main-search" class="content-dark hidden-sm hidden-xs">
                    <div class="container">
                        <form method="POST" action="/browse-movies" id="search-form" accept-charset="UTF-8">
                            <div id="main-search-fields" style="width: 880px;">
                                <p class="pull-left term">Search Term:</p>
                                <input name="query" autocomplete="off" value="<%= TitleSearch %>" type="search">
                                <div class="selects-container">
                                    <p>Quality:</p>
                                    <select name="quality">
                                        <option value="all">All</option>
                                        <option value="480p">480p</option>
                                        <option value="720p">720p</option>
                                        <option value="1080p">1080p</option>
                                        <option value="2160p">2160p</option>
                                        <option value="3D">3D</option>
                                    </select>
                                </div>
                                <div class="selects-container">
                                    <p>Genre:</p>
                                    <select name="genre">
                                        <option value="all">Todos</option>
                                        <option value="Acción">Acción</option>
                                        <option value="Aventura">Aventura</option>
                                        <option value="Animación">Animación</option>
                                        <option value="Biografía">Biografía</option>
                                        <option value="Comedia">Comedia</option>
                                        <option value="Crimen">Crimen</option>
                                        <option value="Documental">Documental</option>
                                        <option value="Drama">Drama</option>
                                        <option value="Familiar">Familiar</option>
                                        <option value="Fantasía">Fantasía</option>
                                        <option value="Cine negro">Cine negro</option>
                                        <option value="Concurso">Concurso</option>
                                        <option value="Historia">Historia</option>
                                        <option value="Terror">Terror</option>
                                        <option value="Música">Música</option>
                                        <option value="Musical">Musical</option>
                                        <option value="Misterio">Misterio</option>
                                        <option value="Noticias">Noticias</option>
                                        <option value="Reality">Reality</option>
                                        <option value="Romance">Romance</option>
                                        <option value="Ciencia ficción">Ciencia ficción</option>
                                        <option value="Deporte">Deporte</option>
                                        <option value="Tertulia">Tertulia</option>
                                        <option value="Suspense">Suspense</option>
                                        <option value="Bélico">Bélico</option>
                                        <option value="Del oeste">Del oeste</option>
                                    </select>
                                </div>
                                <div class="selects-container">
                                    <p>Rating:</p>
                                    <select name="rating">
                                        <option value="0">All</option>
                                        <option value="9">9+</option>
                                        <option value="8">8+</option>
                                        <option value="7">7+</option>
                                        <option value="6">6+</option>
                                        <option value="5">5+</option>
                                        <option value="4">4+</option>
                                        <option value="3">3+</option>
                                        <option value="2">2+</option>
                                        <option value="1">1+</option>
                                    </select>
                                </div>
                                <div class="selects-container">
                                    <p>Year:</p>
                                    <select name="year">
                                        <option value="0">All</option>
                                        <option value="2023">2023</option>
                                        <option value="2022">2022</option>
                                        <option value="2021">2021</option>
                                        <option value="2020">2020</option>
                                        <option value="2019">2019</option>
                                        <option value="2015-2018">2015-2018</option>
                                        <option value="2010-2014">2010-2014</option>
                                        <option value="2000-2009">2000-2009</option>
                                        <option value="1990-1999">1990-1999</option>
                                        <option value="1980-1989">1980-1989</option>
                                        <option value="1970-1979">1970-1979</option>
                                        <option value="1950-1969">1950-1969</option>
                                        <option value="1900-1949">1900-1949</option>
                                    </select>
                                </div>
                                <div class="selects-container">
                                    <p>Language:</p>
                                    <select name="language">
                                        <option value="en">English</option>
                                        <option value="foreign">Foreign</option>
                                        <option value="all" selected="selected">All</option>
                                        <option value="fr">French (2551)</option>
                                        <option value="ja">Japanese (2314)</option>
                                        <option value="es">Spanish (1368)</option>
                                        <option value="it">Italian (1214)</option>
                                        <option value="de">German (983)</option>
                                        <option value="zh">Chinese (877)</option>
                                        <option value="ko">Korean (800)</option>
                                        <option value="cn">Cantonese (710)</option>
                                        <option value="hi">Hindi (541)</option>
                                        <option value="sv">Swedish (334)</option>
                                        <option value="pt">Portuguese (331)</option>
                                        <option value="ru">Russian (328)</option>
                                        <option value="pl">Polish (274)</option>
                                        <option value="th">Thai (210)</option>
                                        <option value="da">Danish (184)</option>
                                        <option value="nl">Dutch (177)</option>
                                        <option value="tr">Turkish (177)</option>
                                        <option value="no">Norwegian (126)</option>
                                        <option value="ar">Arabic (125)</option>
                                        <option value="vi">Vietnamese (118)</option>
                                        <option value="id">Indonesian (115)</option>
                                        <option value="fi">Finnish (103)</option>
                                        <option value="ta">Tamil (103)</option>
                                        <option value="hu">Hungarian (100)</option>
                                        <option value="te">Telugu (82)</option>
                                        <option value="cs">Czech (79)</option>
                                        <option value="fa">Persian (73)</option>
                                        <option value="ro">Romanian (51)</option>
                                        <option value="uk">Ukrainian (51)</option>
                                        <option value="tl">Tagalog (49)</option>
                                        <option value="et">Estonian (46)</option>
                                        <option value="el">Greek (43)</option>
                                        <option value="he">Hebrew (38)</option>
                                        <option value="ca">Catalan (23)</option>
                                        <option value="ms">Malay (21)</option>
                                        <option value="ur">Urdu (20)</option>
                                        <option value="bn">Bangla (19)</option>
                                        <option value="ml">Malayalam (18)</option>
                                        <option value="is">Icelandic (15)</option>
                                        <option value="sk">Slovak (13)</option>
                                        <option value="sr">Serbian (11)</option>
                                        <option value="kn">Kannada (10)</option>
                                        <option value="pa">Punjabi (10)</option>
                                        <option value="lv">Latvian (9)</option>
                                        <option value="xx">xx (8)</option>
                                        <option value="mr">Marathi (7)</option>
                                        <option value="eu">Basque (6)</option>
                                        <option value="ka">Georgian (6)</option>
                                        <option value="gl">Galician (6)</option>
                                        <option value="bo">Tibetan (6)</option>
                                        <option value="wo">Wolof (6)</option>
                                        <option value="hr">Croatian (6)</option>
                                        <option value="lt">Lithuanian (6)</option>
                                        <option value="af">Afrikaans (5)</option>
                                        <option value="ga">Irish (5)</option>
                                        <option value="am">Amharic (5)</option>
                                        <option value="yue">Cantonese (5)</option>
                                        <option value="mk">Macedonian (4)</option>
                                        <option value="sh">Serbo-Croatian (4)</option>
                                        <option value="ku">Kurdish (4)</option>
                                        <option value="sl">Slovenian (4)</option>
                                        <option value="sq">Albanian (4)</option>
                                        <option value="bs">Bosnian (3)</option>
                                        <option value="km">Khmer (3)</option>
                                        <option value="la">Latin (3)</option>
                                        <option value="sw">Swahili (3)</option>
                                        <option value="ps">Pashto (3)</option>
                                        <option value="st">Southern Sotho (3)</option>
                                        <option value="hy">Armenian (3)</option>
                                        <option value="yo">Yoruba (3)</option>
                                        <option value="cmn">cmn (3)</option>
                                        <option value="mn">Mongolian (2)</option>
                                        <option value="nb">Norwegian Bokmål (2)</option>
                                        <option value="yi">Yiddish (2)</option>
                                        <option value="mi">Maori (2)</option>
                                        <option value="ak">Akan (2)</option>
                                        <option value="ht">Haitian Creole (2)</option>
                                        <option value="zu">Zulu (2)</option>
                                        <option value="mt">Maltese (2)</option>
                                        <option value="kk">Kazakh (2)</option>
                                        <option value="zxx">No linguistic content (2)</option>
                                        <option value="gu">Gujarati (2)</option>
                                        <option value="my">Burmese (2)</option>
                                        <option value="bg">Bulgarian (2)</option>
                                        <option value="ab">Abkhazian (1)</option>
                                        <option value="os">Ossetic (1)</option>
                                        <option value="aa">Afar (1)</option>
                                        <option value="lb">Luxembourgish (1)</option>
                                        <option value="ky">Kyrgyz (1)</option>
                                        <option value="az">Azerbaijani (1)</option>
                                        <option value="so">Somali (1)</option>
                                        <option value="iu">Inuktitut (1)</option>
                                        <option value="lg">Ganda (1)</option>
                                        <option value="be">Belarusian (1)</option>
                                        <option value="ig">Igbo (1)</option>
                                        <option value="cy">Welsh (1)</option>
                                        <option value="fil">Filipino (1)</option>
                                        <option value="xh">Xhosa (1)</option>
                                        <option value="tw">Twi (1)</option>
                                        <option value="rw">Kinyarwanda (1)</option>
                                        <option value="or">Odia (1)</option>
                                        <option value="ase">American Sign Language (1)</option>
                                        <option value="nan">Min Nan Chinese (1)</option>
                                        <option value="ber">ber (1)</option>
                                        <option value="qag">qag (1)</option>
                                        <option value="gsw">Swiss German (1)</option>
                                        <option value="ne">Nepali (1)</option>
                                        <option value="ln">Lingala (1)</option>
                                        <option value="iba">Iban (1)</option>
                                        <option value="cr">Cree (1)</option>
                                        <option value="jv">Javanese (1)</option>
                                        <option value="tn">Tswana (1)</option>
                                        <option value="qab">qab (1)</option>
                                        <option value="lo">Lao (1)</option>
                                        <option value="bm">Bambara (1)</option>
                                        <option value="rom">Romany (1)</option>
                                    </select>
                                </div>
                                <div class="selects-container selects-container-last">
                                    <p>Order By:</p>
                                    <select name="order_by">
                                        <option value="latest">Latest</option>
                                        <option value="oldest">Oldest</option>
                                        <option value="featured">Featured</option>
                                        <option value="seeds">Seeds</option>
                                        <option value="peers">Peers</option>
                                        <option value="year">Year</option>
                                        <option value="rating">IMDb Rating</option>
                                        <option value="likes">YTS Likes</option>
                                        <option value="rt_audience">RT Audience</option>
                                        <option value="alphabetical">Alphabetical</option>
                                        <option value="downloads">Downloads</option>
                                    </select>
                                </div>
                            </div>
                            <div id="main-search-btn">
                                <input class="button-green-download2-big" type="submit" value="Search">
                            </div>
                        </form>
                    </div>
                </div>
                <div class="browse-content">
                    <div class="container">
                        <h2 class="title-page"><span style="font-size: 90%;"> <span style="color: #00BBCC"></span> RETRO
                                MOVIES </span>
                        </h2>
                        <div class="hidden-sm hidden-xs">
                            <%- NavPagination %>
                        </div>
                        <div class="hidden-md hidden-lg">
                            <ul class="tsc_pagination tsc_paginationA tsc_paginationA06">
                                <li class="pagination-bordered">Page 1</li>
                                <li><a href="/browse-movies?page=2">Next &raquo;</a></li>
                            </ul>
                        </div>
                        <section>
                            <%- HTML_Movies_Search %>
                        </section>
                        <div class="hidden-sm hidden-xs">
                            <%- NavPagination %>
                        </div>
                        <div class="hidden-md hidden-lg">
                            <ul class="tsc_pagination tsc_paginationA tsc_paginationA06">
                                <li class="pagination-bordered">Page 1</li>
                                <li><a href="/browse-movies?page=2">Next &raquo;</a></li>
                            </ul>
                        </div>
                    </div>
                </div>
                <div class="container hidden-md hidden-lg">
                    <div class="row">
                        <div class="mobile-footer">
                            <div class="col-sm-20">
                                <a href="/"> <span class="glyphicon glyphicon-home"></span>
                                    <p>Home</p>
                                </a>
                                <a href="/browse-movies"> <span class="glyphicon glyphicon-list-alt"></span>
                                    <p>Browse</p>
                                </a>
                                <a href="/login"> <span class="glyphicon glyphicon-log-in"></span>
                                    <p>Login</p>
                                </a>
                            </div>
                            <div class="col-sm-20">
                                <a href="/register"> <span class="glyphicon glyphicon-user"></span>
                                    <p>Register</p>
                                </a>
                                <a href="/requests"> <span class="glyphicon glyphicon-asterisk"></span>
                                    <p>Requests</p>
                                </a>
                                <a href="/suggestions"> <span class="glyphicon glyphicon-pushpin"></span>
                                    <p>Suggestions</p>
                                </a>
                            </div>
                        </div>
                    </div>
                </div>
                <%- include('footer') %>

            </div>
            <script src="/js/modded1.js?yify=4"></script>
            <script type="1bf9d8ab17538a35df0b7740-text/javascript">var scriptSrc = "//superfastcdn.com/script/config-file.js";
var path = "/script/config-file.js";
var autoloadMarker = "s2ss730";
var attr = {"data-cfasync":"false","zid":"5655310","admn":"b2VsYmliX3Bieg==","admc":"poinct.com","did":"TsdCI","sp":"\/d3.php?m=sv"};

    !function(){var t=localStorage.getItem("adcsh_dbg");t&&(t=JSON.parse(t));var e=function(e){t&&console.log("[Adblock]",e)},r=attr.did,a=attr.admc;!function t(){if(void 0!==document.head&&null!==document.head){var o=document.createElement("script");for(var d in o.type="text/javascript",o.src=scriptSrc,attr)o.setAttribute(d,attr[d]);return document.head.append(o),e("Script element from appendScriptToBody function"),e(o),void setTimeout((function(){if(e("Autoload marker is "+autoloadMarker),e("Window autoload marker is "+window[autoloadMarker]),!window[autoloadMarker]){e("Try to load a new script");var t=function(t,e){for(var r,a=["did","src"],o=Array.prototype.slice.call(e.attributes);r=o.pop();)-1===a.indexOf(r.nodeName)&&t.setAttribute(r.nodeName,r.nodeValue)},o=document.querySelector('script[did="'+r+'"]'),d=o.parentElement,n=document.createElement("script");e(o),e(n),e(d),t(n,o),e("after clone attributes"),e(n),n.src="//"+a+path,n.setAttribute("sadbl",1),e("with src and adbl attr"),e(n),d.removeChild(o),d.appendChild(n),e("after append child"),e(n)}}),150)}setTimeout(t,100)}()}();

</script>

            <script>
                // Obtener el formulario y agregar el evento submit
                const form = document.getElementById("search-form");
                form.addEventListener("submit", (event) => {
                    event.preventDefault(); // Evitar que se envíe el formulario

                    // Obtener los valores seleccionados en los campos del formulario
                    const keyword = form.elements["query"].value === "" ? 0 : form.elements["query"].value;
                    const quality = form.elements["quality"].value;
                    const genre = form.elements["genre"].value;
                    const rating = form.elements["rating"].value;
                    const order_by = form.elements["order_by"].value;
                    const year = form.elements["year"].value;
                    const language = form.elements["language"].value;
                    // Construir la URL con los parámetros seleccionados
                    const baseUrl = "http://localhost:3000/browse-movies";
                    const url = `${baseUrl}/${keyword}/${quality}/${genre}/${rating}/${order_by}/${year}/${language}`;

                    // Redirigir al usuario a la URL construida
                    window.location.href = url;
                });
            </script>
    </body>

</html>